html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    word-spacing: 2px;
    letter-spacing: 1.4px;
    font-size: 95%;
    background-color: #cfe0e8;
}

header {
    margin-top: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #303336;
}

header p, header h2{
    margin: 0;
}

header img {
    display: none;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    background-color: #303336;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #193366;
    background-color: #008cc9;
    width: 23%;
    height: 40px;
}

nav a:hover {
    background: #005e93;
    color: white;
}

.active {
    color: WhiteSmoke;
    font-size: 15px;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
}

p {
    line-height: 25px;
}

article {
    width: 100%;
}

section {
    background-color: #303336;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 1% 4%;
}

footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303336;
    bottom: 0;
    margin: 0;
    position: relative;
    text-align: center;
}

footer > * {
    margin: 4px;
}
footer img {
    height: 24px;
}

ul {
    list-style-type: none;
    line-height: 25px;
}

a {
    color: #008cc9;
    text-decoration: none;
}

a:hover {
    color: #005e93;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.index .description {
    cursor: pointer;
}

.contact {
    text-align: center;
}

.contact img {
    width: 48px;
    height: 48px;
}

.contact ul li {
    line-height: 40px;
}

.about-skills {
    display: none;
}


@media (min-width: 490px) {
    article {
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    section {
        box-shadow: 20px 5px 20px 5px gray;
        background-color: #303336;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        padding: 1% 4%;
    }
}

@media (min-width: 880px) {
    body {
        font-size: 100%;
    }
    
    header {
        margin-top: 0;
    }
    
    main {
        margin: 0 4%;
        flex-direction: row-reverse;
    }
    
    header {
        flex-direction: row;
    }
    
    header img {
        height: 100px;
        width: auto;
        display: block;
    }
    
    nav {
        width: 80%;
        position: static;
        margin: 0 8%;
        background-color: #cfe0e8;
    }
    
    nav a {
        box-shadow: 10px 2px 10px 2px gray;
        background: #008cc9;
        border-radius: 4px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 14px;
        height: 20px;
        margin: 15px;
        text-align: center;
        text-decoration: none;
        padding: 5px;
        width: 140px;
    }
    
    nav a:active {
        margin-bottom: 10px;
        box-shadow: 0px 0px 0px 0px black;
    }
    
    .about-skills {
        display: block;
    }
    
    .general {
        width: 60%;
    }
    
    .contact ul li {
        line-height: 80px;
    }
    
    .external ul li {
        line-height: 60px;
    }
}